<ion-view view-title="Mascotas" hide-back-button="true">
 <div class="bar bar-subheader item-input-inset
      bar-light">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="query" placeholder="Search">
      </lable>
 </div>
  <ion-content  class="has-subheader" on-refresh="onRefresh()">
    <ion-list show-reorder="data.showReorder">
        <ion-item ng-repeat='item in pets | filter:query' class="item-thumbnail-left item-text-wrap" >
        <img src="img/{{item.pet}}_tn.jpg" >
        <h2>{{item.pet}}</h2>
        <h3>ID: {{item.id}}</h3>
        <h3>Propietario: {{item.owner}}</h3>
        <h3>Especie: {{item.species}}</h3>
        <h3>Raza: {{item.breed}}</h3>
        <h3>Sexo: {{item.gender}}</h3>
        <h3>Fecha de nacimiento: {{item.birthdate}}</h3>
      </ion-item>
      </ion-list>
      <div class="card" >
      <div class="item item-text-wrap" ng-show="noData"><span>
         No hay mascotas agregadas. Click  <a href="javascript:" ng-click="newPet()">aqui</a> para ingresar mascota.
         </span>
      </div>
   </div>
  </ion-content>
</ion-view>
